@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap");
@import "./variables.scss";
@import "./breakpoints.scss";
@import "./components/Navbar.scss";
@import "./components/Layout.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100%;
  width: 95%;
  min-width: 80%;
  margin: 0 auto;
}
